* {
  font-family: "Segoe UI", sans-serif;
  /*font-family: Webdings;*/
}

.menu .item:hover {
  background-color: inherit !important;
}

#top-menu {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
}

#top-menu .image {
  width: 107px;
}

#top-menu .item {
  font-size: 16px;
  color: #2C2C2C;
}

#top-menu .item .dropdown.icon {
  margin-left: 8px;
}

#top-menu .menu .item .icon {
  margin-right: 15px;
}

#top-menu .item .icon.input input {
  width: 180px;
}

#middle-section {
  padding: 15px 0 15px 0;
  background-color: #F2F2F2;
}

#middle-section .column {
  border: 2px solid white;
  padding: 0;
}

#middle-section .column img {
  width: 100%;
}

#footer {
  background-color: #EBEBEB;
}

#footer .four.column.grid.container {
  padding: 40px 0 40px 0;
}

#footer .header {
  color: #474747;
  font-size: 16px;
}

#footer .column .item {
  color: #7C7C7C;
  font-size: 12px;
  padding-bottom: 5px;
}

#footer a.item:hover {
  color: black;
}

#footer .list .horizontal.list .item {
  margin: 0;
  padding: 0 5px 0 0;
}

#footer .borderless.menu {
  background-color: inherit;
  border: none;
  box-shadow: none;
  padding-bottom: 40px;
}

#footer .borderless.menu .language.item {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#footer .borderless.menu a.language.item:hover {
  color: #33B9FF;
}

#footer .borderless.menu .legal.item {
  padding: 0 5px 0 5px;
  font-size: 12px;
  color: #7C7C7C;
}

#footer .borderless.menu a.legal.item:hover {
  color: black;
}
